pipeline/PL_Child_Incremental.json
{
	"name": "PL_Child_Incremental",
	"properties": {
		"activities": [
			{
				"name": "LKUP_MAX_VALUE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'SELECT MAX(',\npipeline().parameters.WatermarkColumn,\n') AS MaxWatermark FROM ',\npipeline().parameters.TableSchema,\n'.',\npipeline().parameters.TableName\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSERVER_TBLLKUP",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.TableSchema",
								"type": "Expression"
							},
							"Tablename": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "IF_NEW_RECORDS_EXIST",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_MAX_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\nequals(pipeline().parameters.LastLoadValue,null),\ngreater(\nint(activity('LKUP_MAX_VALUE').output.firstRow.MaxWatermark),\nint(pipeline().parameters.LastLoadValue)\n)\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPY_INCREMENTAL_DATA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT * FROM ',\npipeline().parameters.TableSchema,\n'.',\npipeline().parameters.TableName,\n' WHERE ',\npipeline().parameters.WatermarkColumn,\n' > ',\npipeline().parameters.LastLoadValue\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLSERVER_TBLLKUP",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"Tablename": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Output_Parquetformat",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"Filename": {
											"value": "@concat(pipeline().parameters.TableName,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_UPDATE_WATERMARK",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY_INCREMENTAL_DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateWatermark]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableSchema": {
										"value": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"WatermarkColumn": {
										"value": {
											"value": "@pipeline().parameters.WatermarkColumn",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLServer_EnterpriseDW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "DimCustomer"
			},
			"WatermarkColumn": {
				"type": "string",
				"defaultValue": "CustomerKey"
			},
			"LastLoadValue": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-15T19:14:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}