pipeline/PL_ParentPipeline.json
{
	"name": "PL_ParentPipeline",
	"properties": {
		"activities": [
			{
				"name": "LKUP_WATERMARK_TABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSERVER_TBLLKUP",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"Tablename": "ADF_Watermark_Table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_EACH_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_WATERMARK_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_WATERMARK_TABLE').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "EXEC_CHILD_INCREMENTAL_LOAD",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Child_Incremental",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@item().TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().Tablename",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@item().WatermarkColumn",
										"type": "Expression"
									},
									"LastLoadValue": {
										"value": "@item().LastLoadValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-15T15:42:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}